<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01684852/blob/main/Copia_de_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print Hello Python 101
print("Hello Pyton 101")

Hello Pyton 101

In [ ]:
print("Hello\nWorld!")

Hello
World!

In [ ]:
type("Hello")

str

In [ ]:
type(11)

int

In [ ]:
type(12.12)

float

In [ ]:
float(2)

2.0

# Module 2 - Python Data Sctructures

## Tuples and lists
Pueden ser str, int & float, pero el tipo de la variable es tuple
Se guardan entre paréntesis y cada elemento puede ser consultado por índice, en este caso los tuples empiezan en 0

In [ ]:
Tuple1 = ("disco", 10,1.2)
Tuple1[0]

'disco'

In [ ]:
Tuple1[1]

10

In [ ]:
Tuple1[2]

1.2

Pueden haber tuples negativos

In [ ]:
Tuple1[-3]

'disco'

In [ ]:
Tuple1[-2]

10

In [ ]:
Tuple1[-1]

1.2

Se pueden concatenar tupples sumándolos

In [ ]:
Tuple2 = Tuple1 + ("hard rock",10)
Tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
Tuple2[4]

10

Se pueden separar elementos de los tuples, por ejemplo podemos separar los primeros 3 elementos, o los últimos 2, para separar tuples el último valor que pongamos no se toma en cuenta, ej, si ponemos del 0 al 3 nos regresa los valores de 0, 1 y 2

In [ ]:
Tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
len(Tuple2)

5

In [ ]:
Tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
Tuple2[3:5]

('hard rock', 10)

Los tuples son inmutables, es decir que no los podemos cambiar, para manipular ese tuple debemos crear uno nuevo en su lugar, en el siguiente caso, para ordenar un tuple debemos crear un segundo que ya esté ordenado.

In [ ]:
Ratings=(10,9,6,5,10,8,9,6,2)
print(Ratings)
RatingsSorted=sorted(Ratings)
print(RatingsSorted)

(10, 9, 6, 5, 10, 8, 9, 6, 2)
[2, 5, 6, 6, 8, 9, 9, 10, 10]

Se pueden anidar tuples (Nesting), y la estructura que toma es la siguiente

In [3]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
print(NT)
print(NT[0])
print(NT[1])
print(NT[2])
print(NT[3])
print(NT[4])

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
1
2
('pop', 'rock')
(3, 4)
('disco', (1, 2))

Podemos solicitar el segundo elemento de uno de estos tuples anidados, es decir, podemos llamar al "rock" de la siguiente manera.
Podemos ver los tuples anidados como un árbol

In [5]:
print(NT[2][1])
print(NT[3][0])
print(NT[4][0])

rock
3
disco

También podemos consultar alguna de las letras de rock por ejemplo

In [7]:
print(NT[2][1][0])
print(NT[2][1][1])
print(NT[2][1][2])
print(NT[2][1][3])

r
o
c
k

# Listas

Las listas son sequencias ordenadas y se representan entre braquets, la ventaja de estas listas es que son mutables, es decir que se pueden modificar, y pueden ser, strings, floats o integers

In [21]:
L=["Michael Jackson",10.1,1982,"MJ",1]
print(type(L))
print(L)
print(L[0])
print(L[1])
print(L[2])
print(L[-3])
print(L[-2])
print(L[-1])

<class 'list'>
['Michael Jackson', 10.1, 1982, 'MJ', 1]
Michael Jackson
10.1
1982
1982
MJ
1

Al igual que los tuples, podemos separar partes de las listas, y al igual que los tuples, el rango no considera el último valor

In [22]:
L[3:5]

['MJ', 1]

Igualmente podemos agregar elementos a las listas

In [24]:
L1=L+["pop",10]
print(L1)

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

Aquí una de las ventajas es que las listas son mutables, y en lugar de requerir crear una lista nueva, podemos extenderlas con el siguiente comando

In [26]:
L.extend(["pop",10])
print(L)

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

si usamos el comando append, se agregarían las nuevas variables dentro de un mismo índice

In [31]:
L=["Michael Jackson",10.1,1982]
L.append(["pop",10])
print(L)
print(L[3])

['Michael Jackson', 10.1, 1982, ['pop', 10]]
['pop', 10]

Como las listas son mutables, podemos cambiarla, por ejemplo

In [33]:
A=["disco",10,1.2]
print(A)
A[0]="hard rock"
print(A)

['disco', 10, 1.2]
['hard rock', 10, 1.2]

Podemos borrar algún elemento con el comando del

In [37]:
A=['hard rock', 10, 1.2]
print(A)
del(A[0])
print(A)
del(A[1])
print(A)

['hard rock', 10, 1.2]
[10, 1.2]
[10]

También se puede separar cualquier elemento de un string en elementos individuales de la lista, por ejemplo vamos a separar la palabra "hard rock" en dos elementos de una lista

In [38]:
"hard  rock".split()

['hard', 'rock']

También podemos separar elementos con delimitadores, en este caso vamos a separar todo lo que esté después de una coma

In [39]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

## Aliasing

Si ponemos A=B ambos elementoos tendrán la misma información, a esto se le conoce como Aliasing

In [43]:
A=["hard rock",10,1.2]
B=A
print(A)
print(B)
print(B[0])
A[0]="banana"
print(B)

['hard rock', 10, 1.2]
['hard rock', 10, 1.2]
hard rock
['banana', 10, 1.2]

Para evitar esto, podemos clonar la variable A y que sean independientes, para esto se usan [:], aquí si cambiamos A, ya no cambiará B

In [48]:
A=["hard rock",10,1.2]
B=A[:]
print(B)
print(A)

['hard rock', 10, 1.2]
['hard rock', 10, 1.2]

#help

Podemos obtener ayuda en python con el comando help

In [49]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Sets



1.   Los sets son un tipo de collection, significa que pueden contener distintos tipos de types
2.   A diferencia de listas y tuples, aquí están en desorden
3.   Solamente tienen elementos únicos
4.   Para utilizarse se ponen entre brackets

Aquí solo integra elementos únicos

In [53]:
Set1={"pop", "rock", "hard rock", "rock", "R&B","rock","disco"}
Set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock'}

Puedes hacer Type Casting, que es convertir una lista en un set, aquí no contendrá elementos duplicados

In [55]:
album_list=["Michael Jackson","Thriller","Thriller",1982]
print(album_list)
album_set=set(album_list)
print(album_set)

['Michael Jackson', 'Thriller', 'Thriller', 1982]
{'Thriller', 1982, 'Michael Jackson'}

## Operaciones con SET

In [57]:
A={"Thriller", "Black in Black", "AC/DC"}
print(A)
A.add("NSYNC")
print(A)
A.remove("NSYNC")
print(A)

{'AC/DC', 'Thriller', 'Black in Black'}
{'AC/DC', 'Thriller', 'NSYNC', 'Black in Black'}
{'AC/DC', 'Thriller', 'Black in Black'}

Para verificar si un elemento está en un set se usa la operación in

In [58]:
A={"Thriller", "Black in Black", "AC/DC"}
"AC/DC" in A

True

In [59]:
A={"Thriller", "Black in Black", "AC/DC"}
"Who" in A

False

Hay muchas operaciones matemáticas que podemos utilizar con los sets, por ejemplo si vemos cada set como un diagrama de venn, podremos ver cuáles elementos están en ambos conjuntos con &

In [61]:
album_set_1={"AC/DC", "Black in Black", "Thriller"}
album_set_2={"AC/DC", "Black in Black", "The Dark Side of the Moon"}
print(album_set_1)
print(album_set_2)
album_set_3= album_set_1 & album_set_2
print(album_set_3)

{'AC/DC', 'Thriller', 'Black in Black'}
{'AC/DC', 'The Dark Side of the Moon', 'Black in Black'}
{'AC/DC', 'Black in Black'}

Se puede hacer lo mismo para la unión, que son todos los elementos de ambos conjuntos y eso se hace con el comando union

In [66]:
album_set_1={"AC/DC", "Black in Black", "Thriller"}
album_set_2={"AC/DC", "Black in Black", "The Dark Side of the Moon"}
print(album_set_1)
print(album_set_2)
album_set_3= album_set_1 & album_set_2
print(album_set_3)
album_set_1.union(album_set_2)

album_set_3.issubset(album_set_1)

{'AC/DC', 'Thriller', 'Black in Black'}
{'AC/DC', 'The Dark Side of the Moon', 'Black in Black'}
{'AC/DC', 'Black in Black'}

True

#Diccionarios

Un diccionario tiene un elemento o valor que etá asociado a un key ek cual es un index por etiqueta

Para crear un diccionario utilizamos brackets {}, cada key y valor son separados por una coma, deben ser inmutales y únicos

En el siguiente ejercicio el nombre del álbum es el key, y el valor es la fecha de lanzamiento

In [73]:
DICT={"Thriller":1982,"Black in Black":1980, "The Dark Side of the Moon":1973, "The Bodyguard":1992}
DICT["Thriller"]

1982

Podemos agregar nuevos elementos con la siguiente forma y también borrarlos

In [79]:
DICT={"Thriller":1982,"Black in Black":1980, "The Dark Side of the Moon":1973, "The Bodyguard":1992}
DICT["Thriller"]
DICT['Graduation']="2007"
print(DICT)
del(DICT["Thriller"])
print(DICT)
"The Bodyguard" in DICT
print(DICT.keys())
print(DICT.values())

{'Thriller': 1982, 'Black in Black': 1980, 'The Dark Side of the Moon': 1973, 'The Bodyguard': 1992, 'Graduation': '2007'}
{'Black in Black': 1980, 'The Dark Side of the Moon': 1973, 'The Bodyguard': 1992, 'Graduation': '2007'}
dict_keys(['Black in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Graduation'])
dict_values([1980, 1973, 1992, '2007'])

In [82]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)